<section class="classrooms-edit-container">
  <div class="jumbotron">
    <div class="container">
      <h1>Editing classroom</h1>
    </div>
  </div>

  <div class="container">
    <%= render 'form' %>
    <%= link_to 'Back', classrooms_path, class: ['btn', 'btn-default', 'pull-left'] %>
    <%= link_to 'Show', @classroom, class: ['btn', 'btn-default', 'pull-left'] %>
  </div>
</section>
