<section class="students-new-container">
  <div class="jumbotron">
    <div class="container">
      <h1>New student</h1>
    </div>
  </div>

  <div class="container">
    <%= render 'form' %>
    <%= link_to 'Back', students_path, class: ['btn', 'btn-default', 'pull-left'] %>
  </div>
</section>
