<section class="courses-edit-container">
  <div class="jumbotron">
    <div class="container">
      <h1>Editing course</h1>
    </div>
  </div>

  <div class="container">
    <%= render 'form' %>
    <%= link_to 'Back', courses_path, class: ['btn', 'btn-default', 'pull-left'] %>
    <%= link_to 'Show', @course, class: ['btn', 'btn-default', 'pull-left'] %>
  </div>
</section>
