<section class="index-container"
  ng-controller="IndexApplicationController as index">
  <a class="students col-md-6 col-sm-6 col-xs-12" href="/students">
    <span>Students</span>
  </a>
  <a class="courses col-md-6 col-sm-6 col-xs-12" href="/courses">
    <span>Courses</span>
  </a>
  <a class="classrooms col-md-12 col-sm-12 col-xs-12" href="/classrooms">
    <span>Classrooms</span>
  </a>
</div>
