<!DOCTYPE html>
<html>
<head>
  <title>ProficiencyTest</title>
  <script type="text/javascript" src="/assets/javascripts/application.js"></script>
  <%= javascript_include_tag 'build', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
